@font-face {
    font-family: 'Neue Kaine';
    src: url('NeueKaine-Light.woff2') format('woff2'),
        url('NeueKaine-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

